.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px red solid;
}

textarea, #preview {
  width: 600px !important;
  min-height: 200px !important;
  margin-bottom: -4px;
  background-color: white;
}

#preview {
  border: 1px black solid;
}